/*==== RESET ====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/*==== Variables ====*/
:root {
  --hue: 215;
  --header-height: 4.5rem;

  --base-color: hsla(var(--hue), 36%, 57%, 1);
  --base-color-second: hsla(var(--hue), 65%, 88%, 1);
  --base-color-alt: hsla(var(--hue), 57%, 53%, 1);
  --title-color: hsla(var(--hue), 41%, 10%, 1);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsla(0, 0%, 98%, 1);
  --body-color: hsla(0, 0%, 98%, 1);
  --body-color-2: hsla(0, 0%, 100%, 1);

  --title-font-size: 1.875rem;
  --font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --text-font: 'DM Sans', sans-serif;
}

/*==== BASE ====*/

html {
  scroll-behavior: smooth;
}

body {
  font: 400 var(--font-size) var(--text-font);
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--text-font);
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    90deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

/*==== LAYOUT ====*/
.container {
  margin: 0 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 4rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

#header.scroll {
  box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.15);
}

/*================ LOGO =================*/

/*.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}
*/
.logo {
  width: 100%;
  height: 100%;
}

.logo .logoimg {
  width: auto;
  height: 100%;
}

/*=========== NAVIGATION ================*/

nav {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
  font-weight: bold;
  -webkit-font-smoothing: auto;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* MOSTRAR MENU */
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*================ HOME ================*/
#home {
  overflow: hidden;
  padding: calc(7rem + var(--header-height)) 0;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  border-radius: 0.25rem;
}

#home .image img {
  position: relative;
  right: 2.93rem;
  border-radius: 0.25rem;
}

#home .text {
  margin: 0 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/* ==================== ABOUT ===================*/

#about {
  background: var(--body-color-2);
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  border-radius: 0.25rem;
}

#about .image img {
  position: relative;
  border-radius: 0.25rem;
}

#about .text {
  margin: 0 1.5rem;
}

/* ==================== SERVICES ===================*/

.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* ==================== TESTIMONIALS ===================*/

#testimonials {
  background: var(--body-color-2);
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-bottom: 0;
  margin: 0px 1.5rem;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.25rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2rem serif;
  position: absolute;
  top: -0.25rem;
  left: -1.25rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/* ==================== CONTACT ===================*/

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
  color: var(--base-color);
}

/*================ FOOTER ================*/

footer {
  background: var(--base-color);
  height: 100%;
}

footer .section {
  padding: 4rem 0;
}
/*
footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}*/

footer .brand a .logoimg {
  width: 15rem;
  height: auto;
  margin-left: -1rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social a {
  margin-right: 2rem;
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: scale(1.2);
}

.back-to-top {
  background-color: var(--base-color);
  color: var(--text-color-light);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.75rem;
  clip-path: circle();
  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(200%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVO */

/* medium devices: 767> */
@media (min-width: 767px) {
  .container {
    max-width: 687px;
    margin-right: auto;
    margin-left: auto;
  }

  .section {
    padding: 6rem 0;
  }

  #home .container,
  #about .container {
    margin: 0 auto;
  }

  #home {
    padding: calc(4rem + var(--header-height)) 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  nav .menu ul li a.title {
    font: 400 var(--font-size) var(--text-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  main {
    margin-top: var(--header-height);
  }

  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template:
      'a b'
      'c d';
  }

  .card.center {
    grid-area: c;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}

/* large devices: 992> */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --font-size: 1.125rem;
  }

  .container {
    max-width: 912px;
    margin-right: auto;
    margin-left: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.25rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 var(--font-size) var(--text-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  main {
    margin-top: var(--header-height);
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
    gap: 7.375rem;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  .cards.grid {
    width: 100%;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template:
      'a b'
      'c d';
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}

/* extra large devices: 1200> */
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.25rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 var(--font-size) var(--text-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  main {
    margin-top: var(--header-height);
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
    gap: 7.375rem;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}
